.header-menu {
	display: flex;
	align-items: center;
	margin-top: 1px;
}

.header-menu__login {
	margin-left: auto;
	padding-left: 10px;

	line-height: 90px;
	text-decoration: none;
	color: rgba(31, 30, 37, 1);

	&:hover {
		color: rgba(44, 54, 242, 1);
	}

	&::before {
		content: "";
		display: inline-block;

		position: relative;

		width: 20px;
		height: 22px;

		top: 5px;
		left: -10px;
		background-image: url("../img/login.svg");
		background-repeat: no-repeat;
	}
}

