.hotline {
	display: flex;
	justify-content: space-between;
	width: 431px;
}

.hotline__phone {
	padding-left: 29px;
}

.hotline__phone--cell {
	margin-right: 76px;
}

.hotline__title {
	position: relative;
	margin: 0;
	margin-top: 3px;

	font-size: 16px;
	font-weight: 500;

	&::before {
		content: "";
		display: block;
		position: absolute;
		left: -29px;
		top: 1px;
		background-repeat: no-repeat;
	}
}

.hotline__info {
	display: inline-block;
	margin-top: 2px;

	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	color: rgba(112, 124, 135, 1);
}

.hotline__info--cellphone {
	width: 175px;
}

.hotline__title--cellphone {
	&::before {
		width: 10px;
		height: 16px;
		background-image: url("../img/cellphone.svg");
	}
}

.hotline__title--phone {
	&::before {
		width: 16px;
		height: 16px;
		left: -33px;
		background-image: url("../img/phone.svg");
	}
}
