.navigation__list {
	padding: 0;
	margin: 0;
}

.navigation__list--header {
	display: flex;
	flex-wrap: wrap;
	margin: 0 50px;
}

.navigation__list-item {
	list-style-type: none;
}

.navigation__list-item--header {
	margin-right: 5px;
}

.navigation__list-item--footer {
	margin: 0 22px;
	margin-bottom: 12px;
}

.navigation__item-link {
	padding: 10px;

	font-size: 16px;
	color: #000;
	text-decoration: none;

	&:hover {
		color: rgba(44, 54, 242, 1);
	}
}

.navigation__item-link--header {
	line-height: 90px;
	font-weight: 400;
}

.navigation__item-link--footer {
	padding: 0;
	line-height: 0;
	font-weight: 500;
}
