.site-logo {
	display: inline-block;

	padding-left: 27px;
	margin-top: -2px;

	text-decoration: none;
	color: #000;
}

.site-logo__title {
	display: inline;
	position: relative;

	padding-left: 10px;

	font-family: inherit;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 1px;

	&::before {
		content: "";
		display: inline-block;
		position: absolute;

		width: 28px;
		height: 25px;

		left: -28px;
		top: -7px;

		background-image: url("../img/logo.svg");
		background-repeat: no-repeat;
	}
}

.site-logo__title--footer {
	margin-left: 1px;
	line-height: 26px;
}
